*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(45deg, rgb(200, 27, 235) rgb(68, 220, 240));
    height: 100vh;
    color: black;
    font-family:'Times New Roman', Times, serif;
    text-align:center;
}
.Calculadora{
    position:absolute;
    background-color:rgba(75, 243, 255);
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
}
.botao{
    width: 50px;
    height: 50px;
    margin: 3px;
    font-size: 25px;
    cursor: pointer;
    background-color: aqua;
    border: none; 
    Color: black;
}
.botao:hover{
    background-color:deeppink;
    color:white;
}
#resultado{
    background-color:deeppink;
}