*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(45deg, rgb(200, 27, 235) rgb(68, 220, 240));
    height: 100vh;
    color: black;
    font-family:'Times New Roman', Times, serif;
    text-align:center;
}
.Calculadora{
    position:absolute;
    background-color:rgba(75, 243, 255);
}